
<!-- 클래스 요약 단락-->
<div class="row m-1" style="width:1070px; height:140px;">
  <!-- 요약 -->
  <div class="cp-bg-color-primary " style=" position:relative;  padding:10px; width:200px; height:140px;">
    <div class="cp-font-size-normal cp-font-noto-bold cp-color-white">
      이번주 요약
    </div>
    <div class=" text-bottom "style="position:absolute; right:5%; bottom:5%;" >
      <div style="float:right;"class="cp-font-size-mlarge cp-font-noto-thin cp-color-white"><i>'17. 01. 02</i></div>
      <div style="float:right;"class="cp-font-size-mlarge cp-font-noto-thin cp-color-white"><i>~ 01. 08</i></div>
    </div>
  </div>
  <!-- 요약 -->

  <!-- 1위 테이블 -->
  <table style="margin-left:5px;" cellpadding=0 cellspacing=0 width=420 height=140>
    <tr>
      <th rowspan=2 width=160>
        <div style="background-color:#24AE76; position:relative;  padding:10px; width:160px; height:140px;">
          <div style="font-size:10px;"  class="cp-font-noto-bold cp-color-white">
            종합 목표 달성률 1위
          </div>
          <div class=" text-center statistic align-items-center" >
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-white">나경아</div>
            <div style="margin-top: 10px; font-size:1px;" class="cp-color-white">학습 부분에서 지난주 대비</div>
            <div class="cp-font-size-normal cp-font-noto-extra-bold cp-color-white">+ 6.2%</div>
          </div>
        </div>
      </th>

      <th colspan=2 width=260>
        <div style="padding-left: 10px; padding-right: 5px; "class="cp-font-size-msmall cp-font-noto-regular cp-color-font">숙제를 가장 꾸준히 한 학생은 춘석항 학생입니다!<br>학습 목표 달성률은 87.1%이고 문제풀이 목표<br> 달성률은 89.5%입니다.<br><br>꾸준히 숙제를 해 왔으니, 칭찬해주세요 ^^</div>
      </th>
    </tr>

    <tr>
      <td>
        <div style=" position:relative;  width:130px; height:70px;">
          <div class=" text-center" style="padding-top:10px">
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-font">87.1%</div>
            <div style="font-size:1px;" class="cp-font-noto-extra-bold  cp-color-font">(학습) 목표 달성률 평균</div>
            <div style="font-size:1px; color:#24AE76;">지난주 대비 + 6.2%</div>
          </div>
        </div>
      </td>

      <td>
        <div style=" position:relative;  width:130px; height:70px;">
          <div class=" text-center" style="padding-top:10px">
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-font">89.5%</div>
            <div style="font-size:1px;" class="cp-font-noto-extra-bold  cp-color-font">(문제풀이)목표 달성률 평균</div>
            <div style="font-size:1px; color:#24AE76;" >지난주 대비 + 7.9%</div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <!-- 1위 테이블 -->

  <!-- 관심 테이블 -->
  <table style="margin-left:5px;" cellpadding=0 cellspacing=0 width=420 height=140>
    <tr>
      <th rowspan=2 width=160>
        <div class="cp-bg-color-accent " style=" position:relative;  padding:10px; width:160px; height:140px;">
          <div style="font-size:10px;"  class="cp-font-noto-bold cp-color-white">
            관심이 필요한 학생
          </div>
          <div class=" text-center statistic align-items-center" >
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-white">임지우</div>
            <div style="margin-top: 10px; font-size:1px;" class="cp-color-white">클래스 평균 대비</div>
            <div class="cp-font-size-normal cp-font-noto-extra-bold cp-color-white">- 10.2%</div>
          </div>
        </div>
      </th>
      <th colspan=2 width=260>
        <div style="padding-left: 10px; padding-right: 5px; "class="cp-font-size-msmall cp-font-noto-regular cp-color-font">목표 달성률이 가장 낮은 학생은 장박솔<br>학생입니다.<br>장박솔 학생이 집중 할 수 없었던 상황이었을까요??<br>선생님께서 확인해주시면, 더 나아질 수 있을 것<br>같습니다.</div>
      </th>
    </tr>


    <tr>
      <td>
        <div style=" position:relative;  width:130px; height:70px;">
          <div class=" text-center" style="padding-top:10px">
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-font">64.3%</div>
            <div style="font-size:1px;" class="cp-font-noto-extra-bold cp-color-font">(학습) 목표 달성률 평균</div>
            <div style="font-size:1px;"  class="cp-color-accent">클래스 평균 대비 -16.3%</div>
          </div>
        </div>
      </td>

      <td>
        <div style=" position:relative;  width:130px; height:70px;">
          <div class=" text-center" style="padding-top:10px">
            <div style="font-size:20px;" class="cp-font-noto-extra-bold cp-color-font">77.4%</div>
            <div style="font-size:1px;" class="cp-font-noto-extra-bold cp-color-font">(문제풀이) 목표 달성률 평균</div>
            <div style="font-size:1px;"  class="cp-color-accent">클래스 평균 대비 -6.9%</div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <!-- 관심 테이블 -->
</div>
<!-- 클래스 요약 단락-->
