<!-- 카드 리스트 단락 2-->
<div class="row m-1">

  <div class="card  col-md m-2 bg-white d-flex statistic ">
    <div class="cp-font-size-desc cp-font-noto-bold">
      가장 많이 틀린 문제 Top 5
    </div>
    <div class="text-center statistic align-items-center">
      <div style="padding-top:15px;"class="cp-font-size-smlarge cp-font-noto-extra-bold">
        28, 313<br>258, 155, 211
      </div>
    </div>
  </div>

  <div class="card  col-md m-2 bg-white d-flex statistic ">
    <div class="cp-font-size-desc cp-font-noto-bold">
      많이 틀린 유형
    </div>
    <div class="text-center statistic align-items-center">
      <div style="padding-top:15px;" class="cp-font-size-smlarge cp-font-noto-extra-bold">
        주제, 요지파악<br>문법
      </div>
      <small class="cp-font-noto-extra-bold cp-color-accent" >6명이 틀린 문제 유형</small>
    </div>
  </div>

  <div class="card  col-md m-2 bg-white d-flex statistic ">
    <div class="cp-font-size-desc cp-font-noto-bold">
      학생들이 주로 공부하는 시간
    </div>
    <div class="text-center statistic align-items-center">

        <div >
      <text class="cp-color-font cp-font-noto-extra-bold">pm</text><text class="cp-font-size-xlarge cp-font-noto-extra-bold">    10시</text>
        </div>
        <small class="cp-font-noto-extra-bold" style="color:#24AE76;">전체 공부시간의 83%</small>
      </div>
    </div>


    <div class="card  col-md m-2 bg-white d-flex statistic ">
      <div class="cp-font-size-desc cp-font-noto-bold">
        평균 집중 시간
      </div>
      <div class="text-center statistic align-items-center">
        <div style="padding-top:15px;"  class="cp-font-size-xlarge cp-font-noto-extra-bold">
          32분
        </div>
        <small class="cp-font-noto-extra-bold" style="color:#24AE76;">다른 클래스 대비 +3분</small>
      </div>
    </div>
  </div>

</div>
<!-- 카드 리스트 단락 2-->
