<div id="carouselExampleIndicators" style="width: 100%; " class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox" style="background-color: #333;">
    <div class="carousel-item active"  align="middle" >
      <img src="/asset/img/img-1.png" style="width: 80%; height:80%;" >
    </div>

    <div class="carousel-item" align="middle">
      <img src="/asset/img/img-2.png" style="width: 80%; height:80%;" >
    </div>

    <div class="carousel-item" align="middle">
      <img src="/asset/img/img-3.png" style="width: 80%; height:80%;" >
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
