<!-- navbar -->
<nav id="sideNavWrapper" class="navbar border border-left-0 border-top-0 border-right-0 border-bottom-5">
  <div class="col align-middle float-left pl-0">
    <a href="/class_management" class="d-inline-flex nav-link p-0" >
      <span style="margin-right:10px; "class="align-self-center cp-vec-color-orbit cp-vec-size-default cp-vec-ic-back"></span>
      <span class="align-self-center cp-font-noto-bold cp-color-font">

                        <% if(num == 1) { %> 엄유선
                        <% } else if(num == 2){%> 소진헌
                        <% } else if(num == 3){%> 임지우
                        <% } else if(num == 4){%> 허효식
                        <% } else if(num == 5){%> 민규희
                        <% } else if(num == 6){%> 나경아
                        <% } else if(num == 7){%> 장산들
                        <% } else if(num == 8){%> 전성공
                        <% } else if(num == 9){%> 민형철
                        <% } else if(num == 10){%> 여경환
                        <% } else if(num == 11){%> 전희영
                        <% } else if(num == 12){%> 전수중
                        <% } else if(num == 13){%> 정태형
                        <% } else if(num == 14){%> 공규진
                        <% } else if(num == 15){%> 서환종
                        <% } else if(num == 16){%> 송수전
                        <% } else if(num == 17){%> 왕수화
                        <% } else if(num == 18){%> 전광선
                        <% } else if(num == 19){%> 표성은
                        <% } else if(num == 20){%> 문주선
                        <% } else if(num == 21){%> 진예흔
                        <% } else if(num == 22){%> 도윤성
                        <% } else if(num == 23){%> 윤지선
                        <% } %>
                        학생 학습 보고서</span>
      </a>
    </div>

    <a href="javascript:void(0)" class="d-inline-flex nav-link cp-bg-color-orbit"  >
      <span  class="align-self-center m-0 pl-1 cp-color-white">출력</span>
    </a>
    <a href="javascript:void(0)" class="d-inline-flex nav-link cp-bg-color-oeum"  >
      <span class="align-self-center m-0 pl-1 cp-color-white">공유</span>
    </a>
    <a href="javascript:void(0)" class="d-inline-flex nav-link cp-bg-color-primary"  >
      <span class="align-self-center m-0 pl-1 cp-color-white">내용 수정</span>
    </a>
  </nav>
  <!-- navbar -->
