@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.3;
}

.body-class{
	background-color: #CCCCCC;
}
.navbar{
	overflow: none;
	z-index: 9999;
}
.navbar-brand{
	font-family: 'Noto Sans KR', sans-serif !important;
	/*color: #ff0000  !important;*/
	font-weight: 700 !important;
}

.navbar-duedate{
	height:50px;
	display:table;
}

.span-parent-vertical-align{
	display:table;
}


.span-child-vertical-align{
	display:table-cell;
	vertical-align:middle;
}

#videoContainer{
	display: inline-block;
	top: 55px;
	margin:0px;
	left: 0;
	position: absolute;
	width: 100%;
	height: 83%;
	opacity: 1.0;
	background-color: #CCCCCC;
	font-family: 'Noto Sans KR', sans-serif !important;
	/*color: #ff0000  !important;*/
	font-weight: 300 !important;
}
#leftContainer{
	padding: 0px;
	display: inline-block;
	position: absolute;
	height:100%;
	left: 0;
	margin:0px;
	background-color: #CCCCCC;
	/*opacity: 1.0;*/
}
#video{
	display: inline-block;
	position: absolute;
	width: 100%;
	background-color: #CCCCCC;
	/*opacity: 0.7;*/
}
.orVideo{
	top: 0%;
	height: 50%;
}
.chVideo{
	top: 0%;
	height: 40%;
	/*opacity: 0.7;*/
}
#titleContainer{
	display: inline-block;
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
	/*opacity: 0.7;*/
}

#title{
	display: inline-block;
	position: absolute;
	top:0%;
	width: 100%;
	height: 34%;
	background-color: #FFFFFF;
	border:5px solid #CCCCCC;
	/*opacity: 0.7;*/
}
#description{
	display: inline-block;
	position: absolute;
	top:34%;
	width: 100%;
	height: 66%;
	background-color: #FFFFFF;
	border:5px solid #CCCCCC;
	/*opacity: 0.7;*/
}

#tabContainer{
	display: inline-block;
	position: absolute;
	background-color: #FFFFFF;
	width: 100%;
	top: 40%;
	height: 60%;
	/*opacity: 0.7;*/
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
		font-weight: 700 !important;
}

div.tab button:hover {
    background-color: #ddd;
}

div.tab button.active {
    background-color: #ccc;
}

.tabContent {
    display: none;
		height: 90%;
    border: 1px solid #ccc;
    border-top: none;
		overflow:auto;
}

.listItem{
	display: inline-block;
	height:60px;
	font-weight: 500 !important;
}

.discussItem{
	display: inline-block;
	color:#000000;
	background-color: #FFFFFF;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 3%;
	padding-right: 3%;
	width:100%;
	height:5%;
}

#captionContainer{
	padding: 0px;
	display: inline-block;
	position: absolute;
	height: 100%;
	right: 0;
	margin:0px;
	background-color: #FFFFFF;
	/*opacity: 1.0;*/
}
:focus {
outline: 0;
}
#captionTitle{
	display: table;
	position: absolute;
	padding-left: 30px;
	width: 100%;
	top: 0%;
	height: 10%;
	color: #FFFFFF;
	border-top:1px solid #FFFFFF;
	background-color: #242526;
	font-weight: 500 !important;
	/*opacity: 0.7;*/
}
#leftCaptionTitle{
	display: inline-block;
	vertical-align: middle;
	padding-top: 1%;
	float:left;
	/*opacity: 0.7;*/
}
#rightCaptionTitle{
	display: inline-block;
	vertical-align: middle;
	padding-top: 2.4%;
	padding-right: 5%;
	float:right;
	/*opacity: 0.7;*/
}

#captionEng{
	display: inline-block;
	position: absolute;
	top:10%;
	width: 100%;
	height: 15%;
	border-top:1px solid #FFFFFF;
	background-color: #242526;
	overflow:auto;
	/*opacity: 0.7;*/
}

#captionKor{
	display: inline-block;
	position: absolute;
	top:25%;
	width: 100%;
	height: 15%;
	border-top:1px solid #FFFFFF;
	background-color: #242526;
	overflow:auto;
	/*opacity: 0.7;*/
}

#captionX{
	display: inline-block;
	position: absolute;
	top:40%;
	width: 100%;
	height: 60%;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	background-color: #242526;
	overflow:auto;
	/*opacity: 0.7;*/
}

.captionFont{
	padding-top: 5px;
	padding-right: 20px;
	left:5%;
	right:5%;
	color: #FFFFFF;
	font-size: 1.3em;
}
.captionFontX{
	padding-top: 5px;
	padding-right: 20px;
	left:5%;
	right:5%;
	color: #FFFFFF;
	font-size: 1em;
}

.caption-background{
	padding-top: 30px;
	height:100%;
}

.desc-background{
	color:#fff;
	height:100%;
}

#resultContainer{
	padding: 0px;
	display: inline-block;
	position: absolute;
	height: 100%;
	right: 0;
	margin:0px;
	background-color: #FFFFFF;
}

#exContent{
	background-color: #FFFFFF;
	border:3px solid #CCCCCC;
	height:100%;
}

#exTitleContainer{
	display: inline-block;
	position: absolute;
	left:0;
	top:0%;
	width: 100%;
	height: 12%;
	border:1px solid #CCCCCC;
	font-weight: 700 !important;
}
#exContentList{
	display: inline-block;
	position: absolute;
	left:0;
	top:12%;
	width: 100%;
	height: 88%;
	border:1px solid #CCCCCC;
}

#exContentEC{
	display: inline-block;
	position: absolute;
	padding-top:7%;
	padding-right:5%;
	padding-left:5%;
	top:0%;
	width: 100%;
	height: 15%;
	overflow:auto;
}
#exContentKC{
	display: inline-block;
	position: absolute;
	padding-top:7%;
	padding-right:5%;
	padding-left:5%;
	top:15%;
	width: 100%;
	height: 15%;
	overflow:auto;
}
#exContentXC{
	display: inline-block;
	position: absolute;
	padding-top:5%;
	padding-right:5%;
	padding-left:5%;
	top:30%;
	width: 100%;
	height: 70%;
	overflow:auto;
}


#newContent{
	background-color: #FFFFFF;
	border:3px solid #CCCCCC;
	height:100%;
}

#newTitleContainer{
	display: inline-block;
	position: absolute;
	left:0;
	top:0%;
	width: 100%;
	height: 12%;
	border:1px solid #CCCCCC;
	font-weight: 700 !important;
}
#newContentList{
	display: inline-block;
	position: absolute;
	left:0;
	top:12%;
	width: 100%;
	height: 88%;
	border:1px solid #CCCCCC;
}
#newContentEC{
	display: inline-block;
	position: absolute;
	padding-top:7%;
	padding-right:5%;
	padding-left:5%;
	top:0%;
	width: 100%;
	height: 15%;
	overflow:auto;
}
#newContentKC{
	display: inline-block;
	position: absolute;
	padding-top:7%;
	padding-right:5%;
	padding-left:5%;
	top:15%;
	width: 100%;
	height: 15%;
	overflow:auto;
}
#newContentXC{
	display: inline-block;
	position: absolute;
	padding-top:5%;
	padding-right:5%;
	padding-left:5%;
	top:30%;
	width: 100%;
	height: 70%;
	overflow:auto;
}


.differFont{
	font-size: 1.5em;
	font-weight: 500 !important;
}
.timeFont{
	font-size: 1em;
	font-weight: 500 !important;
}

#toolboxContainer{
	width: 100%;
	position: fixed;
	background-color: #363a3f;
	bottom:0;
	top:auto;
}
#toolboxContainer span img{
	margin:15px;
	width:36px;
	height:36px;
}
#sceneNumber{
	color: #fff;
	font-weight: 900;
}
/*

.btn-white-action a{
	fill:#ffffff;
}

.btn-white-action a:hover {

fill:#2fbdf4;
}*/

#btnPrev{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}


@media all and (min-width:970px) {
	.caption-wrapper span{
		color:#fff;
		font-weight: 300;
		font-size: 24px;
}
	.cp-divider-v {
		border-right: 1px solid #848484;
		padding-right: auto;
		margin-right: auto;
	}
	.cp-divider-h {
		margin-top: auto;
		padding-top: auto;
		border-top: 1px solid #848484;
	}
	.caption-wrapper{
		padding-left: 40px;
		width: 100%;
	}
	.caption-wrapper span{
		margin: 0 auto;
		text-align: center;
		/*display:inline-block;*/
	}

	.desc-wrapper{
		color:#fff;
		padding-top: 30px;
		font-weight: 300;
		overflow: auto;

	}


#captionEng{
	height: 50%;
	vertical-align: bottom;
}
#captionKor{
	height: 50%;
	vertical-align: top;

}
}

@media all and (max-width:969px) {
	.caption-wrapper span{
		color:#fff;
		font-weight: 300;
		font-size: 18px;
}
	#btnGoogleLoginMobileTemp{
		visibility:visible ;
	}
	.cp-divider-v {}
	.cp-divider-h {
		margin-top: auto;
		padding-top: auto;
		border-top: 1px solid #ccc;
	}
	.navbar-duedate{
		display: none;
	}
	#video{
		display: inline-block;
		position: relative;
		width: 100%;
		height: auto;
		background-color: #000000;
		/*opacity: 0.7;*/
	}
	.desc-wrapper{
		color:#fff;
		padding-top: 30px;
		font-weight: 300;
		margin-top: auto;
		padding-top: auto;
		border-top: 1px solid #ccc;
	}
#toolboxContainer span img{
	margin:8px;
	width:24px;
	height:24px;
}

#captionEng{
	width: 100%;
	height: 50%;
	vertical-align: middle;
}
#captionKor{
	width: 100%;
	height: 50%;
	vertical-align: middle;

}
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.backMark{
	background-color: #4f4f4f;
	float:left;
  padding:auto;
  -webkit-mask: url(../asset/img-vec/btn_back.svg) no-repeat center;
  mask: url(../asset/img-vec/btn_back.svg) no-repeat center;
}
.markWhite{
	background-color: #fff!important;
}
